.Gaming {
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  text-align: center;
  letter-spacing: -0.765px;
  color: #ffffff;
  margin-bottom: 45px;
  margin-left: 337px;
}
.CreateBtn {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.CreateBtn:hover {
  background: rgba(207, 200, 255, 0.7) !important;
}
.challenge {
  width: 421px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #8d8cab;
  margin: auto;
}
.challengeText {
  width: 421px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #8d8cab;
  margin: auto;
  margin-bottom: 76px;
}
.VIewBtn {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.VIewBtn:hover {
  background: rgba(117, 81, 255, 0.7) !important;
}
.swiper-wrapper {
  margin-left: 75px;
}
.swiper-wrapper .swiper-slide-active {
  box-shadow: #7551ff96 0px -24px 150px -15px !important;
  border-radius: 26px !important;
  height: 466px !important;
  width: 266px !important;
}
.swiper-wrapper .swiper-slide-prev {
  box-shadow: #7551ff96 -7px 1px 19px -8px !important;
  border-radius: 26px !important;
  height: 466px !important;
  width: 266px !important;
}
.swiper-wrapper .swiper-slide-next {
  box-shadow: #7551ff96 7px 1px 19px -8px !important;
  border-radius: 26px !important;
  height: 466px !important;
  width: 266px !important;
}
.swiper-wrapper .swiper-slide {
  width: 266px !important;
  height: 466px !important;
}
