.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right{
    width: 80% !important;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right{
    position: relative;
    /* width:calc(100%-34vw) !important */
    width:20% !important

}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails{
    left: 50% !important;
    width: 9.8vw !important;

    transform: translateX(-50%);
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail{
    width: 9.8vw !important;
border-radius: 10px;
margin-top: 22px !important;
}
.image-gallery-content{
    display: flex !important;
}