.TwitterBigBoxOverflow::after {
  bottom: 0;
  width: 240px;
  height: 1212px;
  background: linear-gradient(rgba(255, 255, 255, 0.001), blue) !important;
  pointer-events: none;
}
.textScroll {
  overflow-y: scroll;
  height: 1212px;
  padding: 15px 0;
}
.DiscoverBtn {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.DiscoverBtn:hover {
  background: rgba(108, 93, 211, 0.7) !important;
}
.chatFrame {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.chatFrame:hover {
  background: #3f8cffa3 !important;
}
.chatFrame:hover .chatFullText {
  color: #fff !important;
}
.note-masonry-grid_column {
  width: 30% !important;
}
.rankText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.afterShandow {
  position: relative;
}
.afterShandow::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: linear-gradient(to top, #0c1538, rgba(12, 21, 56, 0));
}
.css-xl71ch {
  display: flex;
}
