.css-11fb1j9 {
  background-color: #3F8CFF !important;
}
.chakra-stack {
  align-items: center;
}
.css-tafvlg .chakra-avatar__excess.css-11fb1j9 {
  width: 43px;
  height: 43px;
  z-index: 1;
}
.yscroll {
  overflow-y: auto;
  max-height: 827px;
  padding: 10px 0 !important;
  padding-right: 10px !important;
}
.yscroll::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  margin-left: 10px;
}
.yscroll::-webkit-scrollbar-thumb {
  width: 8px;
  height: 78px !important;
  background: #6656FF;
  border-radius: 4px;
}
.symbol {
  background: #FFFFFF;
  width: 7px;
  height: 2px;
  margin: 2px 0;
}
.public-DraftEditorPlaceholder-root {
  color: rgba(145, 151, 163, 0.5) !important;
}
.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-hasFocus {
  color: rgba(145, 151, 163, 0.5);
}
.animate {
  animation: scaleDraw 1s ease-in-out infinite;
  border-color: #0049c6 !important;
}
@keyframes scaleDraw {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}
